.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    align-content: normal;
    gap: 16px;
    height: 400px;
}

.item-1 {
    flex-basis: 100px;
}

.item-2 {
    flex-basis: 100px;
}

.item-3 {
    flex-basis: 100px;
}
body{
    background-color: #222222;
}