.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
}

.item-1 {
    align-self: flex-end;
}
body{
    background-color: #222222;
}